{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Page d'accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homePage.css') }}">
{% endblock %}

{% block body %}
    <main>
        <!--Header-->
        <div class="header-image">
            <img src="{{ asset('img/tennis_de_table-3_photos_v2_x2.jpg') }}" alt="">
        </div>
        <!--End Header-->
        <!--Login Mobile-->
        <div class="login">
            <div class="login-box">
                <h1 class="login-title my-3">Espace Membre:</h1>
                <div class="login-button">
                    {% if not app.user %}
                        <a href="{{ path('login') }}" class="login-link">Se connecter</a>
                    {% else %}
                        <a href="{{ path('logout') }}" class="logout-link">Se déconnecter</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--End Login-->
        <!--Localisation Desktop-->
        <div class="localisation">
            <div class="localisation-box">
                <h2 class="py-2" >Où sommes-nous situés?</h2>
                <p> Nos locaux se trouvent au Centre de Loisirs de Lodelinsart Adresse: Rue du Chemin Vert,125B 6042 Lodelinsart Les entrainements ont
                    lieu dans la grande salle du lundi au jeudi de 17h à 22h</p>
                {% if chcookieconsent_isCategoryAllowedByUser('social_media') == true %}
                    <!-- googlemap integration -->
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.699748788627!2d4.443589515895482!3d50.42806554685839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c22601cff4dafb%3A0xe5e1d77774a28878!2sRue%20du%20Chemin%20Vert%20125B%2C%206042%20Charleroi!5e0!3m2!1sfr!2sbe!4v1622383718825!5m2!1sfr!2sbe" width="80%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                {% else %}

                {% endif %}
            </div>
        </div>
        <!--End Localisation-->
        <!--About-->
        <div class="about">
            <div class="about-box">
                <h2 class="py-2" >A propos du CTT:</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim tempus id iaculis ullamcorper dictum. Diam proin ipsum feugiat
                    placerat enim ipsum morbi. Id convallis tempus suscipit viverra dictumst suscipit pellentesque sem. Lacus turpis lectus parturient
                    egestas id eu accumsan. A augue senectus duis nec sed dictum neque. Leo vitae laoreet dictum vitae dictumst mi semper
                    pellentesque. Sagittis lectus augue augue quis felis ut enim et. Massa erat eleifend amet ut.</p>
                <div class="about-more">
                    <a href="{{ path('about') }}">En savoir plus...</a>
                </div>
            </div>
        </div>
        <!--End About-->
    </main>
{% endblock %}
