{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}User{% endblock %}

{% block body %}
    <h2 class="my-4">Gestion des Utilisateurs</h2>
    <table class="table table-hover" id="myTable"> <!-- id pour le DataTable id="myTable" -->
        <thead>
        <tr>
            <th>Image</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Classement</th>
            <th>Equipe</th>
            <th>Email</th>
            <th>Création du compte</th>
            <th>Dernière mise à jour</th>
            <th>Dernière connexion</th>
            <th>Rôles</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><img src="" alt="{{ user.id }}" class="admin-img-user align-middle"></td>
                <td class="align-middle">{{ user.firstname }}</td>
                <td class="align-middle">{{ user.lastname }}</td>
                <td class="align-middle">{{ user.ranking }}</td>
                {% if user.team %}
                    <td class="align-middle">{{ user.team.name }}</td>
                {% else %}
                    <td class="align-middle">-</td>
                {% endif %}
                <td class="align-middle">{{ user.email }}</td>
                <td class="align-middle">{{ user.createdAt|date("d/m/Y  H:i:s") }}</td>
                <td class="align-middle">{{ user.updatedAt|date("d/m/Y  H:i:s") }}</td>
                <td class="align-middle">{{ user.lastlogAt|date("d/m/Y  H:i:s") }}</td>
                <td class="align-middle">
                    {% for role in user.roles %}
                        {% if role == 'ROLE_USER' %}
                            <a href="" class="btn btn-danger disabled" title="Utilisateur"><i class="icofont-ui-user"></i></a>
                            <a href="" class="btn btn-primary" title="Joueur"><i class="icofont-tennis-player"></i></a>
                            <a href="" class="btn btn-primary">A</a>
                            <a href="" class="btn btn-primary">SA</a>
                        {% elseif role == 'ROLE_PLAYER' %}
                            <a href="" class="btn btn-primary" title="Utilisateur"><i class="icofont-ui-user"></i></a>
                            <a href="" class="btn btn-success disabled" title="Joueur"><i class="icofont-tennis-player"></i></a>
                            <a href="" class="btn btn-danger" title="Admin">A</a>
                            <a href="" class="btn btn-primary">SA</a>
                        {% elseif role == 'ROLE_ADMIN' %}
                            <a href="" class="btn btn-primary" title="Utilisateur"><i class="icofont-ui-user"></i></a>
                            <a href="" class="btn btn-primary" title="Joueur"><i class="icofont-tennis-player"></i></a>
                            <a href="" class="btn btn-danger disabled" title="Admin">A</a>
                            <a href="" class="btn btn-primary">SA</a>
                        {% else %}
                            <a href="" class="btn btn-primary" title="Utilisateur"><i class="icofont-ui-user"></i></a>
                            <a href="" class="btn btn-primary" title="Joueur"><i class="icofont-tennis-player"></i></a>
                            <a href="" class="btn btn-primary">A</a>
                            <a href="" class="btn btn-danger disabled" title="Super Administrateur">SA</a>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>
{% endblock %}