{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Presse et médias{% endblock %}

{% block body %}
    <div class="container-fluid my-4">
        <h2 class="d-inline">Gestion des Articles</h2>
        <a href="{{ path('admin_articles_add') }}" class="d-inline btn btn-primary float-end my-2 mx-4">Ajouter un article</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Aperçu</th>
            <th>Adresse</th>
            <th>Date de création</th>
            <th>Dernière modification</th>
            <th>Paramètres</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            {% set index = 4 %}
            <tr>
                <td class="align-middle">{{ article.title }}</td>
                <td class="align-middle">aperçu</td>
                <td class="align-middle">{{ article.slug }}</td>
                <td>{{ article.createdAt|date("d/m/Y H:i") }}</td>
                <td>{{ article.updatedAt|date("d/m/Y H:i") }}</td>
                <td>
                    {% if article.isEnabled %}
                        <a href="{{ path('admin_article_activation',{'id': article.id}) }}" class="btn btn-success" title="Modifier">
                            <i class="icofont-toggle-on"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('admin_article_activation',{'id': article.id}) }}" class="btn btn-danger" title="Modifier">
                            <i class="icofont-toggle-off"></i>
                        </a>
                    {% endif %}
                    <a href="{{ path('admin_article_edit', {'id': article.id}) }}" class="btn btn-secondary" title="Modifier">
                        <i class="icofont-pencil-alt-5"></i>
                    </a>
                    <a href="{{ path('admin_article_remove', {'id': article.id}) }}" class="btn btn-warning" title="Supprimer">
                        <i class="icofont-bin"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
