{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Utilisateurs{% endblock %}

{% block body %}
    <div class="container-fluid my-4">
        <h2 class="d-inline">Gestion des Utilisateurs</h2>
        <a href="{{ path('admin_user_add') }}" class="d-inline btn btn-primary float-end my-2 mx-4">Ajouter un utilisateur</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Image</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Classement</th>
            <th>Equipe</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Création du compte</th>
            <th>Dernière connexion</th>
            <th>Dernière mise à jour</th>
            <th>Rôles</th>
            <th>Gestion</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><img src="{{ asset('img/users/') ~  user.image }}" alt="{{ user.id }}" class="admin-user-avatar align-middle"></td>
                <td class="align-middle">{{ user.firstname }}</td>
                <td class="align-middle">{{ user.lastname }}</td>
                <td class="align-middle">
                    <div class="ranking-box">
                        <a id="ranking-down" data-user-id="{{ user.id }}"><i class="icofont-arrow-down"></i></a>
                        {% if user.ranking %}
                            <span id="ranking-show-{{ user.id }}" data-user-ranking="{{ user.ranking }}">{{ user.ranking }}</span>
                        {% else %}
                            <span id="ranking-show-{{ user.id }}" data-user-ranking="NC">NC</span>
                        {% endif %}
                        <a id="ranking-up" data-user-id="{{ user.id }}"><i class="icofont-arrow-up"></i></a>
                    </div>
                </td>
                {% if user.team %}
                    <td class="align-middle">{{ user.team.name }}</td>
                {% else %}
                    <td class="align-middle">Aucune Equipe</td>
                {% endif %}
                <td class="align-middle">{{ user.email }}</td>
                {% if not user.phoneNumber %}
                    <td class="align-middle">-</td>
                {% else %}
                    <td class="align-middle">{{ user.phoneNumber }}</td>
                {% endif %}
                <td class="align-middle">{{ user.createdAt|date("d/m/Y H:i:s") }}</td>
                <td class="align-middle">{{ user.lastlogAt|date("d/m/Y H:i:s") }}</td>
                <td class="align-middle">{{ user.updatedAt|date("d/m/Y H:i:s") }}</td>
                {% if app.user != user %}
                    <td class="align-middle">
                        <select class="form-select" aria-label="Default select example" onchange="document.location.href=this.value">
                            {% for role in user.roles %}
                                {% if role == 'ROLE_USER' %}
                                    <option selected>Utilisateur</option>
                                    <option value="{{ path('admin_user_role', {"id":user.id, "role":"ROLE_PLAYER"}) }}">Joueur</option>
                                    <option value="{{ path('admin_user_role', {"id":user.id, "role":"ROLE_COACH"}) }}">Entraineur</option>
                                    <option value="{{ path('admin_user_role', {"id":user.id, "role":"ROLE_ADMIN"}) }}">Administrateur</option>
                                {% elseif role == 'ROLE_PLAYER' %}
                                    <option value="{{ path('admin_user_role', {"id":user.id, "role":"ROLE_USER"}) }}">Utilisateur</option>
                                    <option selected>Joueur</option>
                                    <option value="{{ path('admin_user_role', {"id":user.id, "role":"ROLE_COACH"}) }}">Entraineur</option>
                                    <option value="{{ path('admin_user_role', {"id":user.id, "role":"ROLE_ADMIN"}) }}">Administrateur</option>
                                {% elseif role == 'ROLE_COACH' %}
                                    <option value="{{ path('admin_user_role', {"id":user.id, "role":"ROLE_USER"}) }}">Utilisateur</option>
                                    <option value="{{ path('admin_user_role', {"id":user.id, "role":"ROLE_PLAYER"}) }}">Joueur</option>
                                    <option selected>Entraineur</option>
                                    <option value="{{ path('admin_user_role', {"id":user.id, "role":"ROLE_ADMIN"}) }}">Administrateur</option>
                                {% elseif role == 'ROLE_ADMIN' %}
                                    <option value="{{ path('admin_user_role', {"id":user.id, "role":"ROLE_USER"}) }}">Utilisateur</option>
                                    <option value="{{ path('admin_user_role', {"id":user.id, "role":"ROLE_PLAYER"}) }}">Joueur</option>
                                    <option value="{{ path('admin_user_role', {"id":user.id, "role":"ROLE_COACH"}) }}">Entraineur</option>
                                    <option selected>Administrateur</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                {% else %}
                    <td class="align-middle">
                        <select class="form-select" aria-label="Default select example" onchange="document.location.href=this.value"
                                title="Vous ne pouvez pas changer votre propre grade" disabled>
                            {% for role in user.roles %}
                                {% if role == 'ROLE_ADMIN' %}
                                    <option selected>Administrateur</option>
                                {% elseif role == 'ROLE_SUPER_ADMIN' %}
                                    <option selected>Administrateur</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                {% endif %}
                <td class="align-middle">
                    {% if app.user != user %}
                        {% if not user.isdisabled %}
                            <a href="{{ path('admin_user_activation', {"id" : user.id}) }}" class="btn btn-success"
                               title="Activé"><i class="icofont-user-alt-2"></i></a>
                        {% else %}
                            <a href="{{ path('admin_user_activation', {"id" : user.id}) }}" class="btn btn-danger"
                               title="Désactivé"><i class="icofont-user-alt-2"></i></a>
                        {% endif %}
                        <a href="{{ path('admin_user_remove', {"id" : user.id}) }}" class="btn btn-warning"
                           title="Supprimer"><i class="icofont-bin"></i></a>
                    {% else %}
                        <a class="btn btn-success disabled" title="Vous ne pouvez pas changer votre propre status"><i class="icofont-user-alt-2"></i></a>
                        <a class="btn btn-warning disabled" title="Vous ne pouvez pas supprimer votre propre compte"><i class="icofont-bin"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/AdminUser.js') }}"></script>
{% endblock %}