{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Utilisateurs{% endblock %}

{% block body %}
    <div class="container-fluid my-4">
        <h2 class="d-inline">Gestion des Equipes</h2>
        <a href="{{ path('admin_teams_add') }}" class="d-inline btn btn-primary float-end my-2 mx-4">Creer une équipe</a>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Equipe</th>
            <th>Division</th>
            <th>Joueur 1</th>
            <th>Joueur 2</th>
            <th>Joueur 3</th>
            <th>Joueur 4</th>
            <th>Paramètres</th>
        </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            {% set index = 4 %}
            <tr>
                <td class="align-middle">{{ team.name }}</td>
                <td class="align-middle">{{ team.division }}</td>
                {% for user in team.users %}
                    <td class="align-middle">{{ user.firstname }}  {{ user.lastname }}</td>
                    {% set index = index-1 %}
                {% endfor %}
                {% for key in 1..index %}
                    <td class="align-middle">Aucun joueur</td>
                {% endfor %}
                <td>
                    <a href="{{ path('admin_team_edit', { 'id': team.id}) }}" class="btn btn-secondary" title="Modifier"><i class="icofont-pencil-alt-5"></i></a>
                    <a href="{{ path('admin_team_remove', { 'id': team.id}) }}" class="btn btn-warning" title="Supprimer"><i class="icofont-bin"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
