{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Matchs{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid my-4">
            <h2 class="d-inline">Gestion des matchs</h2>
            <a href="{{ path('admin_match_add') }}" class="d-inline btn btn-primary float-end my-2 mx-4">Ajouter un match</a>
        </div>
        <table class="table table-striped" id="AdminTable">
            <thead>
            <tr>
                <th>Date et heure</th>
                <th>Lieu</th>
                <th>Equipe</th>
                <th>Inscription</th>
                <th>Désistement</th>
                <th>Dernière modification</th>
                <th>Paramètres</th>
            </tr>
            </thead>
            <tbody>
            {% for match in matchs %}
                {% set index = 4 %}
                <tr>
                    <td class="align-middle">{{ match.date|date("d/m/Y à H:i") }}</td>
                    <td class="align-middle">{{ match.location }}</td>
                    <td class="align-middle">{{ match.team.name }}</td>
                    {% set players = '' %}
                    {% set title = 'Joueur inscrit:' %}
                    {% if match.user.count == 0 %}
                        {% set players = 'Aucun joueur inscrit' %}
                    {% elseif match.user.count > 1 %}
                        {% set title = 'Joueurs inscrits:' %}
                    {% endif %}
                    {% for player in match.user %}
                        {% set players = players ~ player.firstname ~ ' ' ~ player.lastname|upper ~ '<br>' %}
                    {% endfor %}
                    <td class="align-middle">
                        <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-bs-html="true" data-bs-placement="right"
                           title="{{ title }}" data-bs-content="{{ players }}">{{ match.user.count }}</a>
                    </td>
                    <td class="align-middle"><span class="badge rounded-pill bg-dark text-light" data-bs-toggle="modal"
                                                   data-bs-target="#cancellationModal-{{ match.id }}"
                                                   title="Liste des désistements">{{ match.matchCancellations.count }}</span></td>
                    <td class="align-middle">{{ match.updatedAt|date("d/m/Y H:i") }}</td>
                    <td class="align-middle">
                        <a href="{{ path('admin_match_edit', { 'id': match.id}) }}" class="btn btn-secondary" title="Modifier"><i
                                    class="icofont-pencil-alt-5"></i></a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ match.id }}"
                                title="Supprimer">
                            <i class="icofont-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Modal -->
        {% for match in matchs %}
            <!-- match {{ match.id }} Delete Confirmation modal -->
            <div class="modal fade" id="deleteModal-{{ match.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Suppression d'un match</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sur de vouloir supprimer le match du <strong>{{ match.date|date("d/m/Y") }} à {{ match.location }}</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('admin_match_remove', {'id': match.id}) }}" class="btn btn-outline-danger">
                                Supprimer
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- match {{ match.id }} Cancellations list modal -->
            <div class="modal fade" id="cancellationModal-{{ match.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Liste des désistement</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Joueur</th>
                                    <th>Raison</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for index, cancellation in match.matchCancellations %}
                                    <tr>
                                        <td>{{ cancellation.createdAt|date("d/m/Y H:i") }}</td>
                                        <td>{{ cancellation.user.firstname }}  {{ cancellation.user.lastname|upper }}</td>
                                        <td>{{ cancellation.content }}</td>
                                        <td>
                                            {% if app.user != cancellation.user and cancellation.user.roles[app.user.roles|length-1] == 'ROLE_SUPER_ADMIN' %}
                                                {% if not cancellation.user.isdisabled %}
                                                    <a href="{{ path('admin_match_user_activation', {"id" : cancellation.user.id}) }}"
                                                       class="btn btn-success"
                                                       title="Désactiver le compte de ce joueur"><i class="icofont-toggle-on"></i></a>
                                                {% else %}
                                                    <a href="{{ path('admin_match_user_activation', {"id" : cancellation.user.id}) }}"
                                                       class="btn btn-warning"
                                                       title="Annuler la désactivation du compte joueur"><i class="icofont-toggle-off"></i></a>
                                                {% endif %}
                                            {% elseif app.user == cancellation.user %}
                                                <a class="btn btn-success disabled" title="Vous ne pouvez pas désactiver votre propre compte">
                                                    <i class="icofont-toggle-on"></i></a>
                                            {% else %}
                                                <a class="btn btn-success disabled" title="Vous ne pouvez pas désactiver un compte administrateur">
                                                    <i class="icofont-toggle-on"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script>
        $(document).ready(function () {
            $('#AdminTable').DataTable({
                "bStateSave": true,
                "bSort": true,
                "bProcessing": true,
                "bFilter": true,
                "bInfo": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "aoColumnDefs": [
                    {"bSortable": false, "aTargets": [6]},
                ]
            });
        });

        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'focus'
            })
        })
    </script>
{% endblock %}
