{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }}Stages{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    <main>
        <div class="container-fluid my-4">
            <h2 class="d-inline">Gestion des Stages</h2>
            <a href="{{ path('admin_stage_create') }}" class="d-inline btn btn-primary float-end my-2 mx-4">Créer un stage</a>
        </div>
        <table class="table table-striped" id="AdminTable">
            <thead>
            <tr>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Jours de la semaine</th>
                <th>Heure de début</th>
                <th>Heure de fin</th>
                <th>Inscrits</th>
                <th>Maximum d'inscrits</th>
                <th>Prix</th>
                <th>Dernière modification</th>
                <th>Paramètres</th>
            </tr>
            </thead>
            <tbody>
            {% for stage in stages %}
                {% set index = 4 %}
                <tr>
                    <td>{{ stage.beginAt|date("d/m/Y") }}</td>
                    <td>{{ stage.endAt|date("d/m/Y") }}</td>
                    <td>{{ stage.days|json_encode }}</td>
                    <td>{{ stage.startHours|date("H:i") }}</td>
                    <td>{{ stage.endHours|date("H:i") }}</td>
                    <td>{{ stage.user.count }}</td>
                    <td>{{ stage.personNumber }}</td>
                    <td>{{ stage.price }}&euro;</td>
                    <td>{{ stage.updatedAt|date("d/m/Y H:i") }}</td>
                    <td>
                        {% if not stage.isDisabled %}
                            <a href="{{ path('admin_stage_activation', {'id': stage.id}) }}" class="btn btn-success"
                               title="Activée"><i class="icofont-toggle-on"></i></a>
                        {% else %}
                            <a href="{{ path('admin_stage_activation', {'id': stage.id}) }}" class="btn btn-warning"
                               title="Désactivée"><i class="icofont-toggle-off"></i></a>
                        {% endif %}
                        <a href="{{ path('admin_stage_edit', {'id': stage.id}) }}" class="btn btn-secondary" title="Modifier"><i
                                    class="icofont-pencil-alt-5"></i></a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ stage.id }}"
                                title="Supprimer">
                            <i class="icofont-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <!-- Modal -->
        {% for stage in stages %}
            <!-- match {{ stage.id }} Delete Confirmation modal -->
            <div class="modal fade" id="deleteModal-{{ stage.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Suppression d'un match</h5>
                        </div>
                        <div class="modal-body">
                            Êtes-vous sur de vouloir supprimer le stage se déroulant du <strong>{{ stage.beginAt|date("d/m/Y") }} au {{ stage.endAt|date("d/m/Y") }}</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                            <a href="{{ path('admin_stage_remove', {'id': stage.id}) }}" class="btn btn-outline-danger">
                                Supprimer
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script>
        $(document).ready(function () {
            $('#AdminTable').DataTable({
                "bStateSave": true,
                "bSort": true,
                "bProcessing": true,
                "bFilter": true,
                "bInfo": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
                },
                "aoColumnDefs": [
                    {"bSortable": false, "aTargets": [8]},
                ]
            });
        });

        $(function () {
            $('[data-toggle="popover"]').popover({
                trigger: 'focus'
            })
        })
    </script>
{% endblock %}