{% include "@CHCookieConsent/cookie_consent_styling.html.twig" %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Admin - {% endblock %}</title>
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/icofont.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/adminPages.css') }}">
{#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.24/b-1.7.0/r-2.2.7/datatables.min.css"/>#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap5.min.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Panneau D'administration</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_user') }}"><i class="fas fa-chart-line"></i>Membres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_teams') }}">Equipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_match') }}">Matchs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_articles') }}">Presse/Médias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Stages</a>
                    </li>
                </ul>
                {# Account #}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                    <li class="nav-item"><a href="{{ path('homepage') }}" class="nav-link" target="_blank">Retour au site</a></li>
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {% if app.user.image %}
                                <img src="{{ asset('img/users/') ~ app.user.image }}" alt="{{ app.user.firstname }}" class="avatar-navbar">
                            {% else %}
                                <img src="{{ asset('img/users/') ~ 'default.png' }}" alt="{{ app.user.firstname }}" class="avatar-navbar">
                            {% endif %}
                            &nbsp;&nbsp;{{ app.user.firstname }} {{ app.user.lastname }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('user_private_profile') }}">Mon profil</a></li>
                            <li><a class="dropdown-item" href="#">Mon équipe</a></li>
                            <li><a class="dropdown-item" href="#">Mes Matchs</a></li>
                            <li><a class="dropdown-item" href="#">Mes Entrainements</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item logout" href="{{ path('logout') }}">Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- View flash messages -->
{% block flash %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                <i class="icofont-check-circled"></i> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block body %}{% endblock %}

{#{{ render_esi(path('ch_cookie_consent.show', { 'locale' : 'fr' })) }}#}
{{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set', { 'locale' : app.request.locale })) }}

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.1.1/jq-3.3.1/dt-1.10.24/b-1.7.0/r-2.2.7/datatables.min.js"></script>
{% block javascripts %}

{% endblock %}
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>

