<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Administration - {% endblock %}</title>
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/icofont.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/adminPages.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Panneau D'administration</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                    aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_user') }}"><i class="fas fa-chart-line"></i>Membres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('admin_teams') }}">Equipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Interclubs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Stages</a>
                    </li>
                </ul>
                {# Account #}
                <ul class="navbar-nav mb-lg-0">
                    <li class="nav-item"><a href="{{ path('homepage') }}" class="nav-link" target="_blank">Retour au site</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {% if app.user.image %}
                                <img src="{{ asset('img/users/') ~ app.user.image }}" alt="{{ app.user.firstname }}" class="avatar-navbar">
                            {% else %}
                                <img src="{{ asset('img/users/') ~ 'default.png' }}" alt="{{ app.user.firstname }}" class="avatar-navbar">
                            {% endif %}
                            &nbsp;&nbsp;{{ app.user.firstname }} {{ app.user.lastname }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ path('user_profile') }}">Mon profil</a></li>
                            <li><a class="dropdown-item" href="#">Mon équipe</a></li>
                            <li><a class="dropdown-item" href="#">Mes Matchs</a></li>
                            <li><a class="dropdown-item" href="#">Mes Entrainements</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item logout" href="{{ path('logout') }}">Se déconnecter</a></li>
                        </ul>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- View flash messages -->
    {% block flash %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}"> {{ message }}</div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
</header>
{% block body %}{% endblock %}
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block javascripts %}

{% endblock %}

</body>
</html>

