{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block body %}
    <main>
        <div class="contact">
            <div class="contact-box">
                <h2 class="my-2">Nous contacter</h2>
                {{ form_start(form) }}

                {{ form_widget(form) }}
                <button type="submit" class="my-2 btn btn-outline-secondary">Envoyer le message</button>
                {{ form_end(form) }}

                <h2 class="my-2">Coordonnées</h2>
                <ul>
                    <li>Numéro d’affiliation du club: H001</li>
                    <li>Secrétaire: John Doe</li>
                    <li>Email: <a href="mailto:villette-charleroi@outlook.com">villette-charleroi@outlook.com</a></li>
                    <li>Téléphone: <a href="tel:071/19.00.72">071/19.00.72</a></li>
                    <li>Adresse des locaux: Rue du Chemin Vert, 125B 6042 Lodelinsart</li>
                </ul>
            </div>
        </div>
    </main>
{% endblock %}
