{% extends 'base.html.twig' %}

{% block title %}S'enregistrer!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/register.css') }}">
{% endblock %}

{% block body %}
    <main>
        <div class="register">
            <div class="register-box">
                <h2 class="h3 mb-3 font-weight-normal">S'inscrire</h2>
                {% if app.user %}
                    <div class="alert alert-warning">
                        Vous êtes déjà connecté en tant que {{ app.user.username }}, <a
                                href="{{ path('logout') }}">Se
                            déconnecter</a>
                    </div>
                {% else %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <br>
                    <button class="btn btn-primary" type="submit">
                        S'inscrire
                    </button>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}