{% include "@CHCookieConsent/cookie_consent_styling.html.twig" %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ asset('img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/icofont.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container-fluid bg-primary">
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img class="img-navbar" src="{{ asset('img/logo/laViletteTransparent.png') }}" alt="Logo Club">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class=" navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('homepage') }}">Accueil</a>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="">Stages</a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('about') }}">Club</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('interclubs') }}">Interclubs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('articles') }}">Presse et Médias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
                {# Account #}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if not app.user %}
                        <li class="nav-item">
                            <a href="{{ path('register') }}" class="btn btn-secondary">Inscription</a>
                            <a href="{{ path('login') }}" class="btn btn-secondary">Connexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                {% if app.user.image %}
                                    <img src="{{ asset('img/users/') ~ app.user.image }}" alt="{{ app.user.firstname }}" class="avatar-navbar">
                                {% else %}
                                    <img src="{{ asset('img/users/') ~ 'default.png' }}" alt="{{ app.user.firstname }}" class="avatar-navbar">
                                {% endif %}
                                &nbsp;&nbsp;{{ app.user.firstname }} {{ app.user.lastname }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ path('user_private_profile') }}">Mon profil</a></li>
                                {% if is_granted('ROLE_PLAYER') %}
                                <li><a class="dropdown-item" href="{{ path('user_team') }}">Mon équipe</a></li>
                                <li><a class="dropdown-item" href="{{ path('user_match') }}">Mes Matchs</a></li>
{#                                <li><a class="dropdown-item" href="#">Mes Entrainements</a></li>#}
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="{{ path('admin_user') }}">Administration</a></li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item logout" href="{{ path('logout') }}">Se déconnecter</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                {# <form class="d-flex"> #}
                {# <input class="form-control me-2" type="search" placeholder="Search" aria-label="Rechercher..."> #}
                {# <button class="btn btn-outline-success" type="submit">Rechercher...</button> #}
                {# </form> #}
            </div>
        </div>
    </nav>
</header>

<!-- View flash messages -->
{% block flash %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show alert-z-index" role="alert">
                {% if label == "success" %} <i class="icofont-check-circled"></i>
                {% elseif label == "warning" or label == "danger" %} <i class="icofont-warning-alt"></i>

                {% endif %}{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block body %}{% endblock %}

{# {{ render_esi(path('ch_cookie_consent.show', { 'locale' : 'fr' })) }} #}
{{ render_esi(path('ch_cookie_consent.show_if_cookie_consent_not_set', { 'locale' : app.request.locale })) }}

<!--Footer-->
<footer>
    <span class="footer-text">Royal Charleroi Villette</span>
    <span class="footer-icon">
            <a href="" class="link-dark"><i class="icofont-phone"></i></a>
            <a href="" class="link-dark"><i class="icofont-youtube-play"></i></a>
            <a href="" class="link-dark"><i class="icofont-facebook"></i></a>
        </span>
</footer>
<!--End Footer-->

{% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}
{% endblock %}
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
