<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Accueil{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/icofont.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Club</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Interclub</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">SuperDivision</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Presse et media</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Rechercher...">
                        <button class="btn btn-outline-success" type="submit">Rechercher...</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    <!--Footer-->
    <footer>
        <span class="footer-text">Royal Charleroi Villette</span>
        <span class="footer-icon">
            <a href="" class="link-dark"><i class="icofont-phone"></i></a>
            <a href="" class="link-dark"><i class="icofont-youtube-play"></i></a>
            <a href="" class="link-dark"><i class="icofont-facebook"></i></a>
        </span>
    </footer>
    <!--End Footer-->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>
</html>
