<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Accueil{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/icofont.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Stages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Club</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Interclubs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SuperDivision</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Presse et media</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                {# Account #}
                <ul class="navbar-nav mb-lg-0">
                    {% if not app.user %}
                        <li class="nav-item">
                            <a href="{{ path('register') }}" class="btn btn-secondary">Inscription</a>
                            <a href="{{ path('login') }}" class="btn btn-secondary">Connexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                 <img src="{{ asset('img/users/') ~ app.user.image }}" alt="{{ app.user.firstname }}" class="avatar-navbar">&nbsp;&nbsp;
                                {{ app.user.firstname }} {{ app.user.lastname }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Mon profil</a></li>
                                <li><a class="dropdown-item" href="#">Mon équipe</a></li>
                                <li><a class="dropdown-item" href="#">Mes Matchs</a></li>
                                <li><a class="dropdown-item" href="#">Mes Entrainements</a></li>

                                {% if is_granted('ROLE_ADMIN') %}
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="{{ path('admin_user') }}">Administration</a></li>
                                {% endif %}
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item logout" href="{{ path('logout') }}">Se déconnecter</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    </li>
                </ul>
                {# <form class="d-flex"> #}
                {# <input class="form-control me-2" type="search" placeholder="Search" aria-label="Rechercher..."> #}
                {# <button class="btn btn-outline-success" type="submit">Rechercher...</button> #}
                {# </form> #}
            </div>
        </div>
    </nav>
</header>
{% block body %}{% endblock %}
{% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}
{% endblock %}
<!--Footer-->
<footer>
    <span class="footer-text">Royal Charleroi Villette</span>
    <span class="footer-icon">
            <a href="" class="link-dark"><i class="icofont-phone"></i></a>
            <a href="" class="link-dark"><i class="icofont-youtube-play"></i></a>
            <a href="" class="link-dark"><i class="icofont-facebook"></i></a>
        </span>
</footer>
<!--End Footer-->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
</body>
</html>
