{% extends 'base.html.twig' %}

{% block title %}Stages{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/stages.css') }}">
{% endblock %}

{% block body %}
    <main>
        <!--Header-->
        <div class="header-image">
            <img src="{{ asset('img/stages-header.jpg') }}" alt="">
        </div>
        <!--End Header-->
        <!-- Explication -->
        <div class="informations-box">
            <h2 class="py-1">Stages</h2>
            <p>
                La Villette Charleroi organise au cours de chaque congés scolaire des stages de tennis de table pour les jeunes.
            </p>
            <p>
                Ils ont pour but de faire progresser les jeunes tout en se divertissant dans une ambiance conviviale.
                Les jeunes sont répartis en plusieurs groupes en fonction de leur âge et de leur niveau.
                <br>
                Ces stages sont ouverts aux jeunes de 6 à 17 ans.
            </p>
            <p>
                Les inscriptions se font ci-dessous avec un compte <a href="{{ path('login') }}">Utilisateur</a>
            </p>
        </div>
        <!-- End Explication -->
        <!-- Stage Boxes -->
        <div class="stages-boxes">
            {% if stages|length > 0 %}
            {% for stage in stages %}
                {% if not stage.isDisabled %}
                <div class="card">
                    <div class="card-body center">
                        <h5 class="card-title">{{ stage.name }}</h5>
                        <h6 class="card-subtitle mb-3 my-2">Du {{ stage.beginAt|format_datetime('full', 'none', locale='fr') }}
                            au {{ stage.endAt|format_datetime('full', 'none', locale='fr') }}</h6>
                        <p class="card-text">
                            <b>Horaire: </b>
                            De {{ stage.startHours|date("H:i") }} jusqu'à {{ stage.endHours|date("H:i") }}
                            <br>
                            <b>Prix: </b>
                            {{ stage.price|number_format(2, ',', ' ') }}€
                        </p>
                        {% if date(stage.beginAt) > date('+2 days', 'Europe/Paris') and stage.user.count < stage.personNumber %}
                            {% if app.user %}
                                {% if app.user.stages.contains(stage) %}
                                    <a class="disabled">
                                        Vous êtes déjà inscrit
                                    </a>
                                {% else %}
                                    <a href="{{ path('subscribe_stage', { 'stage': stage.id}) }}" class="card-link" >
                                        S'inscrire
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('login') }}" class="card-link">
                                    S'inscrire
                                </a>
                            {% endif %}
                        {% else %}
                            <a class="disabled">
                                Les inscriptions sont closes
                            </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            {% else %}
            <h3>Aucun stage n'est organisé pour l'instant</h3>
            {% endif %}
        </div>
    </main>
{% endblock %}
