{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/articles.css') }}">
{% endblock %}

{% block body %}
    <main>
        <div class="title-box">
            <h1>Presse et Media</h1>
        </div>
        <section>
            {% for article in articles %}
                <div class="article-box">
                    {% if article.image %}
                        <img src="{{ asset('img/articles/') ~  article.image }}" alt="">
                    {% else %}
                        <img src="{{ asset('img/articles/') ~  'default.png' }}" alt="">
                    {% endif %}
                    <h3>{{ article.title }}</h3>
                    <p>{{ article.content }}</p>
                    <div class="article-more">
                        <a class="align-content-center" data-bs-toggle="modal" data-bs-target="#articleModal-{{ article.id }}">More...</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>

    <!-- Modal -->
    {% for article in articles %}
        <!-- {{ article.id }} -->
        <div class="modal fade" id="articleModal-{{ article.id }}" tabindex="-1" aria-labelledby="articleModal-{{ article.id }}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog modal-xl modal-fullscreen-lg-down">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="articleModal-{{ article.id }}Label">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
