{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Profil - {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row my-2">
                <div class="col-lg-8 order-lg-2">
                    <h4 class="mb-3">Profil d'utilisateur</h4>
                    <div class="row">
                        <div class="col-6">
                            <h5>Nom de l'utilisateur:</h5>
                            <p>
                                {{ user.firstname }} {{ user.lastname|upper }}
                            </p>
                            <h5>Email</h5>
                            <p>
                                {{ user.email }}
                            </p>
                            <h5>Date d'anniversaire</h5>
                            <p>
                                {% if not user.birthday %}
                                    Aucune date définie
                                {% else %}
                                    {{ user.birthday|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
                                {% endif %}
                            </p>
                            <h5>Numéro de téléphone</h5>
                            <p>
                                {% if not user.phoneNumber %}
                                    Aucune numéro de téléphone défini
                                {% else %}
                                    {{ user.phoneNumber }}
                                {% endif %}
                            </p>
                            <h5>Classement:</h5>
                            <p>
                                {% if not user.ranking %}
                                    Aucun classement
                                {% else %}
                                    {{ user.ranking }}
                                {% endif %}
                            </p>
                            <h5>Rôle:</h5>
                            <button type="button" class="btn btn-outline-primary disabled" data-toggle="tooltip"
                                    data-placement="bottom" title="{{ user.roles|json_encode }}">
                                {% if user.roles|json_encode == '["ROLE_ADMIN"]' %} Membre du comité
                                {% elseif user.roles|json_encode == '["ROLE_SUPER_ADMIN"]' %} Administrateur
                                {% elseif user.roles|json_encode == '["ROLE_PLAYER"]' %} Joueur
                                {% elseif user.roles|json_encode == '["ROLE_COACH"]' %} Entraîneur
                                {% else %} Utilisateur
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 order-lg-1 text-center">
                    {% if user.image %}
                        <img src="{{ asset('img/users/') ~ user.image }}" class="mx-auto img-fluid img-circle d-block"
                             alt="Image de profil">
                    {% else %}
                        <img src="{{ asset('img/users/') ~ 'default.png' }}" class="mx-auto img-fluid img-circle d-block"
                             alt="Image de profil">
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
