{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
{% endblock %}

{% block body %}
    <main>
        <div class="container">
            <div class="row my-3">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" id="profileTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab"
                                    aria-controls="home" aria-selected="true">Profil
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="editProfile-tab" data-bs-toggle="tab" data-bs-target="#editProfile" type="button" role="tab"
                                    aria-controls="contact" aria-selected="false">Modifier mon profil
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="profileTabContent">
                        <div class="tab-pane fade show active my-2" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <h4 class="mb-3">Profil d'utilisateur:</h4>
                            <div class="row">
                                <div class="col-lg-5 order-lg-1 text-center">
                                    {% if app.user.image %}
                                        <img src="{{ asset('img/users/') ~ app.user.image }}" class="mx-auto img-fluid img-circle d-block"
                                             alt="Image de profil">
                                    {% else %}
                                        <img src="{{ asset('img/users/') ~ 'default.png' }}" class="mx-auto img-fluid img-circle d-block"
                                             alt="Image de profil">
                                    {% endif %}
                                </div>
                                <div class="col-lg-6">
                                    <h5>Nom de l'utilisateur:</h5>
                                    <p>
                                        {{ app.user.firstname }} {{ app.user.lastname|upper }}
                                    </p>
                                    <h5>Email:</h5>
                                    <p>
                                        {{ app.user.email }}
                                    </p>
                                    <h5>Date d'anniversaire:</h5>
                                    <p>
                                        {% if not app.user.birthday %}
                                            Aucune date définie
                                        {% else %}
                                            {{ app.user.birthday|format_datetime(locale='fr',pattern="dd MMMM YYYY") }}
                                        {% endif %}
                                    </p>
                                    <h5>Numéro de téléphone:</h5>
                                    <p>
                                        {% if not app.user.phoneNumber %}
                                            Aucune numéro de téléphone défini
                                        {% else %}
                                            {{ app.user.phoneNumber }}
                                        {% endif %}
                                    </p>
                                    <h5>Classement:</h5>
                                    <p>
                                        {% if not app.user.ranking %}
                                            Aucun classement
                                        {% else %}
                                            {{ app.user.ranking }}
                                        {% endif %}
                                    </p>
                                    <h5>Statut:</h5>
                                    <p class="role">
                                        {% if app.user.roles|json_encode == '["ROLE_ADMIN"]' %} Membre du comité
                                        {% elseif app.user.roles|json_encode == '["ROLE_SUPER_ADMIN"]' %} Administrateur
                                        {% elseif app.user.roles|json_encode == '["ROLE_PLAYER"]' %} Joueur
                                        {% elseif app.user.roles|json_encode == '["ROLE_COACH"]' %} Entraîneur
                                        {% else %} Utilisateur
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {# <div class="tab-pane fade my-2" id="pouet" role="tabpanel" aria-labelledby="pouet-tab"> #}
                        {# <div class="alert alert-warning"> #}
                        {# Vous n'avez aucun commentaire #}
                        {# </div> #}
                        {# </div> #}
                        <div class="tab-pane fade" id="editProfile" role="tabpanel" aria-labelledby="editProfile-tab">
                            <div class="formGrid">
                                <div class="mb-2 my-2 editProfile">
                                    <h4>Modifier mes informations</h4>
                                    {{ form_start(editProfileForm) }}
                                    {{ form_widget(editProfileForm) }}
                                    <button type="submit" class="btn">Modifier profil</button>
                                    {{ form_end(editProfileForm) }}
                                </div>
                                <div class="mb-2 my-2 editPassword">
                                    <h4>Modifier mon mot de passe</h4>
                                    {{ form_start(editPasswordForm) }}
                                    {{ form_widget(editPasswordForm) }}
                                    <button type="submit" class="btn">Changer de mot de passe</button>
                                    {{ form_end(editPasswordForm) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
